@{
}
<div class="row text-center">
    <h1 class="display-3 col-12 text-danger">Данный пользователь заблокирован</h1>
</div>
<div class="row text-center">
    <div class="col-6"><a class="disabled link-secondary" asp-action="Login">Вход</a></div>
    <div class="col-6"><a class="disabled link-secondary" asp-action="Register">Регистрация</a></div>
</div>

