@{
    ViewBag.Title = "Регистрация";
}
@if(!String.IsNullOrEmpty(ViewBag.Error))
{
    @:<script>alert('Пользователь с таким именем или email уже существует');</script>
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form method="post" class="needs-validation" novalidate>
                <div class="mb-2">
                    <label class="form-label" for="inputName">Имя</label>
                    <input type="text" name="inputName" class="form-control" id="inputName" placeholder="Имя" required>
                    <div class="invalid-feedback">Введите имя</div>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="inputEmail">Email</label>
                    <input type="email" name="inputEmail" class="form-control" id="inputEmail" placeholder="Email" required>
                    <div class="invalid-feedback">Введите правильный адрес электронной почты</div>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="inputPassword">Пароль</label>
                    <input type="password" name="inputPassword" class="form-control" id="inputPassword" placeholder="Пароль" required onkeyup='checkPass();'>
                    <div class="invalid-feedback">Введите пароль</div>
                </div>
                <div class="mb-2">
                    <label class="form-label" for="inputPassword2">Пароль</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Повторите пароль" required onkeyup='checkPass();'>
                    <div class="invalid-feedback">Пароли не совпадают</div>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Регистрация</button>
                </div>
                <div><a class="disabled link-secondary" asp-action="Login">Вход</a></div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
<script>
    (function() {
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script>
    function checkPass()
    {
        let pass = document.querySelector('#inputPassword');
        let passCheck = document.querySelector('#inputPassword2');
        if (pass.value != passCheck.value){
            passCheck.classList.add('is-invalid');
            passCheck.classList.remove('is-valid');
            document.querySelector('button[type=submit]').setAttribute('disabled', 'disabled');
        }
        else{
            passCheck.classList.add('is-valid');
            passCheck.classList.remove('is-invalid');
            document.querySelector('button[type=submit]').removeAttribute('disabled', 'disabled');
        }
    }
</script>
}