@{
    ViewBag.Title = "Написать письмо";
}
<form method="post">
    <label>Тема</label>
    <input type="text" name="title"/>
    <label>Кому</label>
    <input type="text" name="reciever"/>
    <input type="text" name="body"/>
    <input type="submit" />
</form>
