@{
    ViewData["Title"] = "Главная";
    int i = 1;
}
@model ICollection<PersonViewModel>
<label for="seedInput">Seed</label>
<input type="number" id="seedInput" name="seed" class="form-control mb-1" min="0" value="0" required>
<select class="form-select mb-1" id="selectRegion">
    <option value="by" selected>BY</option>
    <option value="uk" disabled>UK</option>
    <option value="pl" disabled>PL</option>
</select>
<button id="submitButton" class="btn btn-primary mb-1">ОК</button>
<div class="text-center">
    <table class="table table-dark table-striped table-bordered table-hover table-responsive">
        <thead class="table-light">
            <tr>
                <th>Номер</th>
                <th>Id</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Адрес</th>
            </tr>
        </thead>
        <tbody id="main-table-body">
        </tbody>
    </table>
</div>
